@model IEnumerable<Viajah.Models.Regiao>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Blog Entries Column -->
<div class="col-md-8">

    <h1 class="my-4">
        Viajah
        <small>Locais para você viajar</small>
    </h1>

    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Buscar</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <!-- Blog Post -->
    @foreach (var item in Model)
    {
        <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">@Html.DisplayFor(modelItem => item.Cidade)</h2>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
                <a class="btn btn-primary" asp-controller="Regiaos" asp-action="Details" asp-route-id="@item.Id">Mais aqui &rarr;</a>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
    }

</div>
